/* :root {
  fonts
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  text colors
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --btn-txt-cl: #212121;

  bg colors
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  others
} */
/* body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
} */

/* reset styles */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* base styles */
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
} */
/* .btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--btn-txt-cl);
  cursor: pointer;
  border: 1px solid transparent;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  color: var(--accent-txt-cl);
  
} */

/*  Header section */
/* .header{
  border-bottom: 1px solid#ECECEC;
}
.container--flex {
  display: flex;
  align-items: center;  
}
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;
 
}
.nav__logo{
  margin-right: 95px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav__logo--black {
  color: #000000;
}
.nav {
  display: flex;
  align-items: center;
  
}
.nav__list {
  
  display: flex;
}
.nav__item{
  
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}
.nav__link--current::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
    border-radius: 2px;
}
.contact{
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
}
.contact__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 16px;
  height: 16px;
  margin-right: 10px;  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon {
  fill: currentColor;
}
.contact__link{
  display: flex;
    align-items: center;
    justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover,
.contact__link:focus {
  color: #2196F3;
  
}
.contact__icon{
  fill: currentColor;
}
.contact__item{
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: var(--main-font-family);  
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 30px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item:hover,
.contact__item:focus {
  fill: #2196F3;;
} */
/* Main section */
/* .hero {
  background-color: var(--dark-bg-cl);
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;  
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.hero__title {  
  align-self: center;
  margin: 0 ;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  max-width: 250px;
  min-width: 200px;
  min-height: 50px;
  padding: 8px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: #2485d4;
} */
/* features */

.features__list{
  display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
}
/* section {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__item {  
  width: 270px;  
  }
    .features__item:ntn-child(4n){
      margin-right: 0;
      padding: 0;
    }
.features__item:ntn-last-child(-n + 4){
  margin-bottom: 0;
  padding: 0;
}
.features__box{
  display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    background-color: #F5F4FA;
      border-radius: 4px;
      margin-bottom: 30px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;  
} */

/* Gallery */
/* .gallery{
  padding-top: 0px;
  padding-bottom: 94px;
}

.gallery__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.gallery__list {
  display: flex;
  justify-content: space-between;
}
.gallery__item {  
  width: 370px;
  height: 294px;
  display: flex;
    position: relative;
}
.gallery__item:ntn-child(3n){
  margin-right: 0;
}
.gallery__item:ntn-last-child(-n + 3){
  margin-bottom: 0;
}
.gallery__descr{
    width: 100%;
      font-family: 'Roboto';
    
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      color: #FFFFFF;
      background-color: rgba(47, 48, 58, 0.8);
    
      padding-top: 27px;
      padding-bottom: 27px;
} */
/* About section */
/* .about{
  background-color: #f5f4fa;   
}

.about__uppertitle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
  justify-content: space-between;
}
.about__item {
    background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}

.about__name-position {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about__name-subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.about__info {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
} */
/* ----------------Постоянные клиенты---------------------*/
/* .clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__title {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.clients__item {
  margin-left: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:first-child {
  margin-left: 0;
}

.clients__link {
  display: flex;
    width: 170px;
    height: 92px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.clients__link:hover,
.clients__link:focus {
  color: #2196F3;
  border: 1px solid var(--accent-txt-cl);
}
.clients__logo {
  width: 106px;
  height: 60px;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__logo,
.clients__item:focus .clients__logo {
  fill: var(--accent-txt-cl);
} */
/* Footer section */
/* .footer {
  background-color: #2f303a;  
}
.footer__section {  
  padding-top: 60px;
  padding-bottom: 60px;  
 
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  cursor: pointer;  
  margin-bottom: 20px;
}
.footer__logo-white {
  color: #ffffff;
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.footer__link:hover,
.footer__link:focus {
  color: var(--accent-txt-cl);
}


.footer__link-current {
  color: var(--accent-txt-cl);
}

.footer__contact {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.footer__contact:hover,
.footer__contact:focus {
  color: var(--accent-txt-cl);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.subscribe{
  display: block;
  margin-left: 70px;
}
.subscribe__link{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.subscribe__icon{
  fill: #FFFFFF;
}
.subscribe__link:hover,
.subscribe__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.subscription{
 display: flex;
 flex-direction: column;
  margin-left: 93px;
  padding: 0;
  
  }
  .subscription__form{
    display: block;
    align-items: center;
      justify-content: center;
        }
    .subscription__form-group{
      display: flex;
      align-items: center;
    }
  .subscription__title{
    font-family: var(--main-font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    margin-bottom: 20px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      
  }
  .subscription__input{
    background-color: transparent;    
      min-height: 50px;
      padding-left: 16px;
      width: 358px;
      margin-right: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      color: #ffffff;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscription__input:hover,
  .subscription__input:focus{
    border-color: #2196f3;
  }
    .footer-subscript::placeholder{
      font-family: var(--main-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;      
        align-items: center;
        letter-spacing: 0.03em;      
        color: rgba(255, 255, 255, 0.6);
    }
    .subscription__btn{
      background-color: #2196F3;
        color: #FFFFFF;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        border-radius: 4px;
        padding: 10px 29px;
        margin: 0 ;
        border: none;
        width: 200px;
        height: 50px;
        border: 1px transparent;
        display: flex;
        align-items: center;
        justify-content: center;
           
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .subscription__btn:hover,
    .subscription__btn:focus{
          background-color:#2485d4
        }
        

        .subscription__icon{
          width: 24px;
            height: 24px;
            margin-left: 10px;
        }
                .form-footer-input:placeholder-shown {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 1.25;
                  display: flex;
                  align-items: center;
                  letter-spacing: 0.03em;
                  text-transform: none;
                  color: rgba(255, 255, 255, 0.6);
                  
                }
.footer__distribution{
  display: flex;
  align-items: baseline;  
}
.footer__contact details{
  flex: auto;
  flex-direction: column;
  margin-right: 70px;
}
.footer-socials{
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding: 0;
}
.subscribe__title{
  
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: #FFFFFF;
    display: flex;
      align-items: center;      
}
.subscribe__list{
  display: flex;
    margin-top: 20px;
    padding: 0;
}
.subscribe__item{
  
  width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.subscribe__item:hover,
.subscribe__item:focus{
  background-color: var(--accent-txt-cl);
}
.subscribe__item:first-child{
  margin-left: 0;
}
.subscribe__icon{
  
  fill:#FFFFFF;
} */
/* portfolio */
/* filter section */
/* .filter{  
  margin-bottom: 50px;
  
}
.filte-project{
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter__list {
  display: flex;
  justify-content: center;
  
}
.filter__item {
  margin-right: 8px;  
} */
/* .btn-first {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-first:hover,
.btn-first:focus {
  background-color: #2485d4;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* .filter__btn{
  font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--btn-txt-cl);
    cursor: pointer;
    border: 1px solid transparent;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.filter__btn:hover,
.filter__btn:focus {
  color: #FFFFFF;
  background-color: #2485d4;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
} */
/* project */

/* .project {
  display: flex;
  flex-wrap: wrap;
  
}
.project__item {
  width: 370px;
  margin-right: 30px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:ntn-last-child(-n + 3) {
  margin-bottom: 0;
}
.project__foto{
  display: block;
    height: auto;
}
.project__example{
  position: relative;
    overflow: hidden;
}
.project__item:hover,
.project__item:focus {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}
.project__item:hover  .project__example-text{
  transform: translateY(0);
}
.project__example-text{
  top: 0;
    position: absolute;
    height: 100%;
    transform: translateY(100%);
  
    padding: 63px 24px;
  
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__menu {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
} */


/* socials icons */
/* .socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.about__socials-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;  
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.about__socials-icon {
  fill: currentColor;
}
.about__socials-link:hover,
.about__socials-link:focus{
  color: #FFFFFF;
  background-color: #2196F3;
  
} */
/* .features-icon{
  align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
} */

/* modal window */
/* .backdrop{
  position: fixed;
  top: 0;
  left: 0;
z-index: 100;


  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms   cubic-bezier(0.4, 0, 0.2, 1),
visibiity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1), 
}
.backdrop.is-hidden .modal{
  transform: translate(0, 0) scale(0);
} */
/* .visually-hidden{
  position: absolute;
  white-space:nowrap ;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
/* .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
    height: 581px;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
display: flex;
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
    pointer-events: initial;
}
.modal-btn{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
      width: 30px;
      border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;  
  background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);       
   cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.modal-btn:focus,
.modal-btn:hover .modal-btn-icon{
  fill: #2196f3;
  cursor: pointer;
}
.modal-btn:focus,
.modal-btn:hover{
  border-color: #2196F3;
}
.modal-btn-icon{
  fill: #000000;
}
.modal-form {
  padding: 40px;
}
.modal-form-field{
  display: flex;
    flex-direction: column;     */
    /* margin-bottom: 10px; */
    /* resize: none;
    width: 100%;
    position: relative; */
/* }
.modal-title{
  display: block;
  margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    background-color: transparent;
    color:#212121
    
}
.modal-label{
  display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: #757575;
    font-style: normal;
      font-weight: 400;
      position: relative;
}
.modal-input{
  display: block;
    padding: 12px 42px;
    height: 40px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus  {
  border-color: #2196F3;
  border: 1px solid #2196F3;
}
.input-icon-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-icon{
  width: 18px;
    height: 18px;
    position: absolute;    
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover +.modal-form-icon,
.modal-input:focus+.modal-form-icon {
  fill: #2196F3;  
}
.modal-comment{
  display: block;
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.terms-check{
  display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1.5px solid #212121;
    border-radius: 2px;
}
.terms-text{
  font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    user-select: none;
    text-underline-position: under;
}
.terms-check-text{
  margin-bottom: 30px;
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    gap: 8px;  
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .terms-icon{
  display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1.5px solid #212121;
    border-radius: 2px; */
/* } */
/* .terms-check:checked +.terms-check-text{
background-color: var(--accent-color);
border: none;

}  */
/* .terms-check:checked+.terms-icon-check {
  background-color: #2196f3;
}
.terms-icon-check:checked{
  background-color: #2196f3;
}
.terms-check:checked + .terms-icon-check .terms-icon-unchecks{
opacity: 0;
}
.terms-icon-checks{
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-check:checked +.terms-icon-check .terms-icon-checks {
  opacity: 1;
}

.terms-link{ 
  text-underline-position: under; 
  color: #2196F3;
}
.modal-form-terms{
  display: flex;
  align-items: center;
}
.wrap-terms{
  display: flex;
    flex-direction: column;
}
.modal-btn-submit{
  display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: #2196f3;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-submit:hover,
.modal-btn-submit:focus{
  background-color: #2485d4;
} */