.features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.features__item {
    width: 270px;
}

.features__item:ntn-child(4n) {
    margin-right: 0;
    padding: 0;
}

.features__item:ntn-last-child(-n + 4) {
    margin-bottom: 0;
    padding: 0;
}

.features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
}
.features-icon {
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
}