:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    --btn-txt-cl: #212121;

    /* bg colors */
    --dark-bg-cl: #2f303a;
    --light-bg-cl: #f5f4fa;
    /* others */
}